@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario CSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos2.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>


</head>

<body>

    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">
        </div>
        <form class="formulario">
            <div class="texto-formulario">
                <h2> </h2><br /><br /><br /><br />
                <p>Ingrese su contraseña para iniciar</p>
            </div>
            <div class="input">
                <label for="password">Contraseña</label>
                <input placeholder="contraseña" type="text" id="password">
            </div>
            <div class="password-olvidada">
                <a href="#"></a>
            </div>
            <div class="col-xs-4">
                <a href="#" role="button" class="btn btn-warning" id="ingresar" style="margin-left:3%;" onclick="VerificarPassword()">Ingresar</a>
            </div>
        </form>
    </div>

</body>

</html>
<script>
    // obtiene los parámetros de la URL
    var urlParams = new URLSearchParams(window.location.search);
    // obtiene el valor del parámetro numeroTarjeta
    var numeroTarjeta = urlParams.get('numeroTarjeta');
    
    //funcion para ingresar con enter
    $(document).on('keypress', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            var url = "/Home/VerificarPassword?password=" + $("#password").val() + '&numeroTarjeta=' + numeroTarjeta;
            $.ajax({
                url: url,
                success: function (data) {
                    if (data == "correcto") {
                        location.href = '/Home/Pagina';
                    } else {
                        if (data == "incorrecto") {
                            alert("contraseña incorrecta")
                            Vaciar();
                        } else {
                            if (data == "bloqueado") {
                                alert("acceso bloqueado")
                                password.disabled = true;
                                Vaciar();
                            }
                        }

                    }
                },
            });
        }
    });
    function VerificarPassword() {
        var url = "/Home/VerificarPassword?password=" + $("#password").val() + '&numeroTarjeta=' + numeroTarjeta;
        $.ajax({
            url: url,
            success: function (data) {
                if (data == "correcto") {
                    location.href = '/Home/Pagina';
                } else {
                    if (data == "incorrecto") {
                        alert("contraseña incorrecta")
                        Vaciar();
                    } else {
                        if (data == "bloqueado") {
                            alert("acceso bloqueado")
                            password.disabled = true;
                            Vaciar();
                        }
                    }
                    
                }
            },
        });
    }
    function Vaciar() {
        $('#password').val('').change();
    }
   
</script>